node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
README.md
.env
.env.example
.nyc_output
coverage
.coverage
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
vendor
.phpunit.result.cache
tests
.editorconfig
.styleci.yml
.travis.yml
.github
docker-compose.yml
.vscode
.idea